.logo {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 160px;
}

h1{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 160px;
}

.popular-topics {
    display: flex;
    flex-direction: column; 
}

.topics {
    height: 510px;
}

.info-top{
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    height: 24px;
    margin-bottom: 50px;
    margin-left: 160px;
}

.info-top .author {
    display: flex;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.info-top .published-date{
    display: flex;
    flex: none;
    order: 2;
    flex-grow: 0;
    opacity: 0.5;
    margin-left: 10px;
}

.article-content {
    display: flex;
    flex-direction: column;
    width: 693px;
    margin-left: 160px;
}

#topic-name{
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    height: 34px;
}

.article{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 30px;
}

.article-tags{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.12), rgba(8, 30, 52, 0.12)), #FFFBFE;
    border-radius: 100px;  
    width: 107px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.article-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex: none;
    order: 3;
    flex-grow: 0;
    opacity: 0.5;
    position: relative;
    bottom: 3.2rem;
    right: 10rem;
}

.image-container {
    display: flex;
    justify-content: flex-end;
}

.article-img{
    width: 265px;
    height: 265px;
    margin-right: 160px;
    position: relative;
    bottom: 21rem;
    border-radius: 4px;
}

hr{
    margin: auto 160px;
    position: relative;
    bottom: 14rem;
    opacity: 0.5;
}

.arrow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 160px;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    margin-top: 88px;
}

.footer-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 52px;
    margin-right: 160px;
    color: #081E34;
    position:static;
}

.author2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 160px;
    margin-top: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.date2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.5;
}

.header2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 76px;
}

.article-img2{
    width: 1120px;
    height: 480px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 220px;
}

.subheader{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.description2{
    margin-top: 24px;
    margin-bottom: 440px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 220px;
}
